<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img
            src="\assets\img\logo-soundbox.png"
            alt="Soundbox Logo"
          ></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <h3 class="welcome-logo">SoundBox</h3>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="welcome-title">Enjoy your favorite music here!</p>
          <p>
            This is the place where your favorite music comes alive, waiting for
            you to revel in its harmonious embrace.
          </p>
        </ion-col>
      </ion-row>
      <ion-row class="button-center">
        <ion-col>
          <ion-button routerLink="/login-page">Login</ion-button>
          <ion-button routerLink="/register-page">Register</ion-button></ion-col
        >
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
