.album-cover {
  text-align: center;
  padding: 8px 16px;
  margin-top: 10px;

  ion-thumbnail {
    width: 240px;
    height: 240px;
    margin: 0 auto;
    --border-radius: 20px;
  }
}

.song-title {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.5px;
  margin-bottom: 4px;
  text-align: center;
}

.artist-name {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-bottom: 4px;
  text-align: center;
}

.song-timeline {
  font-size: 12px;

  ion-progress-bar {
    margin-bottom: 8px;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  ion-button {
    margin: 0 40px;
  }

  ion-fab-button {
    min-width: 56px;
  }
}

.toolbar-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
