ion-modal {
  --height: 250px;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  margin-top: 30px;
  text-align: center;
}
ion-modal ion-item {
  text-align: center;
}
.center-button {
  position: absolute;
  margin-top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}
